body{
    background: rgba(28, 82, 221, 0.56);
  max-width: 1600px;
  max-height: 1024px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto';
font-style: normal;
}
ul {
    list-style: none; 
    margin: 0; 
    padding-left: 60px;
    display: flex;
   
  }
  .menu a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    padding-right: 30px;
    
    
    

  }
  .menu {
    float: right;
    padding-top: 77px

  }
  .menu li{
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
    margin-right: 30px;
  }
  .logo{
    float: left;
    margin-left: -100px;
    padding-top: 58px;
   

  }
  .menu button{
    width: 164px;
    height: 61px;
    background: linear-gradient(90deg, #345AA4 -28.35%, rgba(63, 0, 156, 0) 153.96%);
    border-radius: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    border: none;
    line-height: 28px;
    color: #E5E5E5;
    
    
   
    
  }
  .menu button a{
    color: #FFF;
    text-align: center;
    margin-top: 63px;
    text-align: center;
    padding-left: 36px;
    font-weight: 0;
    
    
  }

  
  .right img{
    display: inline-block;
   margin-top: -555px;
   padding-left: 721px;
   max-height: 1000px;
   height: 664px;
   
   margin-left: 74px;
  }


  .left{
    padding-top: 332px;
    padding-left: 103px;
    
  }
  .left h1{
    color: #FFF;
    font-size: 70px;

  }
  .left h4{
    font-size: 36px;
    color: #E5E5E5;
    margin-top: -45px;
  }
  .left button{
    background: linear-gradient(90deg, #345AA4 0%, rgba(63, 0, 156, 0.92) 164.26%);
border-radius: 13px;
width: 277px;
height: 85px;
font-size: 36px;
font-family: 'Roboto';
color: #E5E5E5;
border: none;
  }

 