*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #1C52DD8F;
}
.logo{
  padding-top: 58px;
 padding-right: 324px;
}
header,main{
  width: 1800px;
  margin: 0 auto;
}
.left,.right{
  float: left;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.left{
  width: 800px;
  padding: 0 50px;
}

main .left h1{
  margin-top: 160px;
  margin-bottom: 0;
  font-size: 70px;
}
main .left{
  font-size: 40px;
  color: #FFF;
}
main .left h4{
  font-size: 36px;
  color: #E5E5E5;
  margin-top: -8px;
}

a{
  font-size: 30px;
  margin: 0 40px;
  color: #FFF;
  text-decoration: none;
}
.right{
  padding: 30px;
  margin-top: 25px;
  width: 1000px;
  
}

.sign{
  font-size: 30px;
  padding: 15px 35px;
  background-image: linear-gradient(90deg, rgba(71,72,215,1) 50%, rgba(71,72,215,0.85) 100%);
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  color: #FFF;
  padding: 15px 35px;
}
.buttonjoin{
  color: #FFF;
  padding: 15px 35px;
  background-image: linear-gradient(90deg, #345AA4 50%, #3F009CEB 100%);
  border-radius: 10px;
  margin: 80px auto;
  font-size: 24PX;
  text-align: center;
  border: none;
  height: 85px;
  width: 277px;
  font-size: 36px;
 
}
